/*Responsiveness of the screen to different sizes. */
@media only screen and (min-width: 300px) and (max-width: 767px){
  body{
    background-color: white;}
  }

/*@media only screen and (min-width: 768px) and (max-width: 1023px){
  body{background-color: orange;}
}*/

/*@media screen and (min-width: 720px){
  body{background-color: red;}
}*/


#pix{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.fist{
  padding-left: 20px;
  padding-right: 30px;
  font-size: 15px;
}

.part{
  background-position: center;
}

#intro{
  text-align: center;
}

#line{
  width: 60px;
  height: 5px;
  background-color:orange;
}

#cont{
  font-size: 30px;
  padding-right: 105px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.one{
  padding-left: 10px;
  padding-right:10px;
  margin-left: 10px;
}




#sub{
  color:white;
  background-color: blue;
  text-align: right;
  margin-top: 6px;
  font-size: 10px;
  width: 100px;
  padding-left: 20px;
}


.submt{
  margin-left: 140px;
}


#lname, #fname, #comment{
  padding-right: 60px;
}

#formc{
  text-align: center;
}

.adj{
  padding-right: 170px;
  margin-bottom: 4px;
}

.adj2{
  padding-right: 140px;
  margin-bottom: 1px;
}

.fill{
  margin-top: 10px;
  margin-bottom: 10px;
}

.adj3{
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

#formc{
  border: 2px solid grey;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-left: 0.5px  solid grey;
  border-right: 0.5px solid grey;
  border-top: none;
  border-radius: 5px;
  box-shadow: inset 10px;
}



